body{
    display: block;
    overflow-x: hidden;
}

nav{
    background-color: #AAAAAA;  
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #683aa4;
}

nav ul li a{
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px; 
}

nav ul li a:hover{
    color: #683aa4;
}

.nav-item a{
    color: black;
    font-weight: 800;
}

.con-content{
    margin-top: 10%;
}
/* .carousel{
    max-width: 100vh;
} */
.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
.btnReg a{
    color: white;
    list-style: none;
    text-decoration: none;
}