body{
    display: block;
    overflow-x: hidden;
    position: relative;
}

nav{
    background-color: #a9a9a9;  
}
.navbar-brand img {
    max-height: 50px;
}

.navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: whitesmoke;
}

.collapse ul li a{
    color: black;
    font-size: 15px;
    margin: auto 10px; 
}

.collapse ul li a:hover{
    color: white;
}

.nav-item a{
    color: black;
    font-weight: 800;
}

.container{
    padding-top: 5%;
    height: 100vh;
}
.home-page{
    align-items: center;
    height: 100%;
    justify-content: center;
}
.about-page{
    align-items: center;
    height: 100%;
    justify-content: center;
    color: black;
    font-weight: 600;
    font-size: 15vw;
}
.about-page h1{
    font-weight: 800;
    font-size: 5vw;
}
.card{
    flex-wrap: wrap;
}
.login-page{
    background-image: url(img/login.jpg);
    height: 100%;
    justify-content: center;
    align-items: center;
}
.login-container{
    width: 30%;
}
.register-page{
    align-items: center;
    height: 100%;
    justify-content: center;
}
.register-container{
    width: 30%;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
.btnReg a{
    color: white;
    list-style: none;
    text-decoration: none;
}